	.content-introduction-lawmaker {
		padding: 20px;
	}

	.member-container {
		border-radius: 10px;
		width: 60%;
		height: 250px;
		vertical-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		padding: 20px;
	}

	.member-container img {
		width: 150px;
		height: 150px;
		border-radius: 75px;
		display: block;
		vertical-align: center;
		margin: auto;
	}

	.member-container a {
		display: block;
		margin: 5px;
		float: left;
	}

	.color-blue {
		color:  #ffffff;
		background-color: #4164bb;
	}

	.color-white {
		color:  #4164bb;
		background-color: #ffffff;
		border: 3px solid #4164bb;
	}

	.picture-area {
		width: 40%;
		float: left;
	}

	.sns-area {
		width: 80%;
		height: 30px;
		text-align: center;
		margin-left: 50px;
	}

	.info-area {
		float: left;
		width: 60%;
	}

	.info-area p {
		text-align: left;
		word-wrap: break-word;
		margin: 0px;
	}
	.woman-name {
		font-weight: bold;
		font-size: 30px;
	}