body {
	margin: 0px;
}

p {
	text-align: center;
}

#menu ul {
	padding: 16px;
}

.text-area {
	width: 80%;
	vertical-align: center;
	margin: 50px auto;
}

.text-area img {
	display: block;
	width: 60px;
	height: 60px;
	margin: auto;
}

.content-site-creater {
	background-color: #4164bb;
	color: #ffffff;
	padding: 20px;
	width: 100%;
}

.content-site-creater p {
	display: block;
	margin: 50px;
}

.creater-pictures {
	width: 60%;
	min-width: 640px;
	margin: 0 auto;
	background-color: rgba(0,0,255,0);
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-box-pack: justify;
}

.creater-pictures img {
	display: block;
	width: 100px;
	height: 100px;
}

@media only screen and (max-width: 768px) {

	.creater-pictures img {
		width: 60px;
		height: 60px;
	}

	.creater-pictures {
		width: 60%;
		min-width: 300px;
		margin: 0 auto;
		display: block;
		width: 100px;
		background-color: rgba(0,0,255,0);
		display: box;
		display: -webkit-box;
		display: -moz-box;
		display: -o-box;
		display: -ms-box;
		box-pack: justify;
	    -moz-box-pack: justify;
	    -webkit-box-pack: justify;
	    -o-box-pack: justify;
	    -ms-box-pack: justify;
	}

	.content-site-creater {
		background-color: #4164bb;
		color: #ffffff;
		padding: 0px;
		width: 100%;
	}

	.content-site-creater p {
	    display: block;
	    margin: 0px;
	    padding: 10px;
	    font-size: 5px;
	}

}
