body {

}
#logo {
    text-align: center;
    width: 100%;
}
#logo img{
    width: 50%;
}
#menu {
    text-align: center;
    width: 100%;
    color: #fff;
    letter-spacing: 2px;
    background-color: #4164bb;
}
#menu li{
    display: inline-block;
    padding: 0 4px;

}
#menu a{
    color: #fff;
    text-decoration: none;
}
#toggle {
    display: none;
}
.menu_title {
    display: none;
}
.menu_partision:before {
    content: "/";
}
.active {
    background-image: url("/assets/img/flower.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    padding: 30px 0;
}
@media only screen and (max-width: 768px) {
    body {
        position: relative;
        overflow-x: hidden;
    }
    #logo img{
        width: 70%;
        padding-right: 50px;
    }
    #menu {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        text-align: left;
        background-color: #002fa3;
        width: 70%;
        height: 100%;
    }
    #menu li{
        display: block;
        padding: 10px, 15px;
    }
    #toggle {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
    }
    #toggle img{
        width: 50px;
    }
    .menu_title {
        display: block;
        text-align: center;
    }
    .menu_category:before {
        content: "　";
    }
    .menu_partision:before {
        content: "　";
    }
    .active {
        background : none;
    }
    .active:after {
        content: "　　";
        background:url("/assets/img/flower.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px;
        padding: 20px 0;
    }
}
