
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: lighter;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: Noto Sans CJK JP;
}

figure {
    margin: 0px;
}

.container {
  width: 100%;
  background-color: #ffffff;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.flip-container {
  margin: 15px 5px;
  cursor: pointer;
  width: 250px;
  height: 300px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  display: inline-block;
}

.front,
.back {
  position: absolute;
  height: 300px;
  text-align: left;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 15px;
  background: #ffffff;
}

.front-image,
.back-image {
  max-width: 100%;
  max-height: 100%;
}

.back img {
  max-width: 100%;
  max-height: 100%;
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flipped .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flipped .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-area-container {
    float: left;
    padding-left: 5px;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.flip-horizen {
    width: 900px;
}

.front-caption {
    position: relative;
}
.front-question,
.back-answer {
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: 800;
    width: 180px;
}

.buleText {
    color: #4164bb;
}

.whiteText {
    color: #ffffff;
}

.face-icon {
    position: absolute;
    left: 20px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.woman-name {
    position: absolute;
    left: 120px;
    bottom: 30px;
    font-weight: 900;
}


@media only screen and (max-width: 768px) {

  .flip-container {
    width: 250px;
    float: none;
  }

  .front,
  .back {
    position: absolute;
    width: 250px;
    height: 220px;
  }

  .flip-area-container {
      float: left;
      padding-left: 5px;
      text-align: center;
      display: inline-block;
      margin: auto;
      width: 100%;
  }

  .flip-horizen {
      width: 100%;
  }

  .front-question, .back-answer {
      position: absolute;
      top: 15px;
      left: 30px;
      font-weight: 800;
      width: 180px;
  }

}
